/* You can add global styles to this file, and also import other style files */
$background-color:#252525 !important;
$font-color:#fff !important;
$background-color2:#9f3001!important;

.espaco{
  background-color: $background-color;
  color:$font-color;
margin:20px;
padding:20px;
border-radius: 10px;
}
